@import 
url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
font-family: 'Montserrat', 
sans-serif;

background-color:#B0B3B7;
color:#294749;
}

h1 {
font-weight: 900;
font-size: 75px; 
color:#1A5456;
text-align: center;
margin-top: -100px;
text-shadow: 4px 4px 5px rgba(73, 210, 205, 2);
}

p{
font-weight: 500;
font-size: 16.5px; 
margin-left:4%;
margin-right:4%;
margin-top: -1%;
}

.tekst1 {
font-weight: 700;
font-size: 17px; 
color:#1A5456;
text-align: center;
margin-top: -57px;
margin-left: 11.5%;
text-shadow: 4px 4px 5px rgba(73, 210, 205, 2);
}

.hr1 {
border: none;
height: 4px; 
background-color: #5DE2E7; 
width: 70%;  
margin-top:-8px
}

.hr2 {
border: none;
height: 4px; 
background-color: #5DE2E7; 
width: 70%;   
margin-top:8px
}

.img1 {              
margin-top:14px;
width:90px;
height:90px;
}

.hr3 {
border: none;
height: 4px; 
background-color: #5DE2E7; 
width: 10%;
margin-top: -5px;  
}

.img2 {              
width:125px;
height:125px;
}
		
.data1 {
color:#FFFFFF;
background-color:#bdf0f0;
text-decoration:none;
padding: 4px;
font-size: 20px;
font-weight: 800;
border-radius: 5px;
margin-right: 0.5%;
}

.data2:hover {
color: black; /* Kolor tekstu po najechaniu */
}
		
.data3 {
color:#FFFFFF;
background-color:#bdf0f0;
text-decoration:none;
padding: 4px;
font-size: 20px;
font-weight: 800;
border-radius: 5px;
margin-right: 0.5%;
}

.data3:hover {
color: black; /* Kolor tekstu po najechaniu */
}

.data2 {
font-weight: 700;
font-size: 20px; 
text-align: center;
}

.data1:hover {
color: black;
}

.gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }

.gallery img {
            max-width: 40%;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.gallery3 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }

.gallery3 img {
            max-width: 20%;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.d1{
background-color:#BABDC2;
margin-left:11%;
margin-right:11%;
}

h3 {
font-weight: 800;
font-size: 25px; 
color:#1A5456;
text-align: center;
text-shadow: 2px 2px 3px rgba(73, 210, 205, 2);
}

.link {
color:#FFFFFF;
background-color:#bdf0f0;
text-decoration:none;
padding: 4px;
font-size: 20px;
font-weight: 800;
border-radius: 5px;
}

.link:hover {
color: black; /* Kolor tekstu po najechaniu */
}

h6 {
font-weight: 900;
font-size: 45px;
color:#1A5456;
text-align: center;
text-shadow: 4px 4px 5px rgba(73, 210, 205, 2);
}

.img4 {              
margin-top:14px;
width:37px;
height:37px;
margin-top:-4px;
margin-bottom:-10px;
margin-right:6px;
}

@media (max-width: 900px) {
.link{
font-size: 12px;
}

h3{
font-size: 18px;
}

h1 {
font-weight: 900;
font-size: 35px;
margin-top: -60px;
}

.tekst1 {
font-weight: 700;
font-size: 9px; 
color:#1A5456;
text-align: center;
margin-top: -27px;
margin-left: 16%;
text-shadow: 4px 4px 5px rgba(73, 210, 205, 2);
}


.img2 {              
width:80px;
height:80px;
}

.img1 {              
margin-top:14px;
width:50px;
height:50px;
}


.data3 {
color:#FFFFFF;
background-color:#bdf0f0;
text-decoration:none;
padding: 3.5px;
font-size: 8px;
margin-right: 2px;
font-weight: 800;
border-radius: 5px;
}

.data1 {
color:#FFFFFF;
background-color:#bdf0f0;
text-decoration:none;
padding: 3.5px;
font-size: 8px;
margin-right:2px;
font-weight: 800;
border-radius: 5px;
margin-left: 0.5px;
}

.data2 {
font-weight: 700;
font-size: 18px; 
text-align: center;
margin-top: -5px;
}

p{
font-weight: 500;
font-size: 13.5px; 
margin-left:4%;
margin-right:4%;
margin-top: -1%;
}

h6 {
font-weight: 800;
font-size: 23px;
color:#1A5456;
text-align: center;
text-shadow: 4px 4px 5px rgba(73, 210, 205, 2);
}

.img4 {              
width:22px;
height:22px;
margin-top:-4px;
margin-bottom:-7px;
margin-right:6px;
}
